{% assign metadata_styles = 'd-md-inline-block mr-3' %}

<table>
<tr>

<td width="35%">
<img src="{{ user.avatar_url }}" style="max-width: 100px; border-radius: 50%;">
<p>
  {{ user.bio }}
</p>
</td>

{% if include.metadata %}
<td width="65%">
  <div style="opacity: 1">
    {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:white aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}">
          @{{ user.login }}
        </a>
      </div>
    {% endif %}
    {% if user.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:white aria-label:email %}
        <a href="mailto:{{ user.email }}">
          {{ user.email }}
        </a>
      </div>
    {% endif %}
    {% if user.location %}
      <div class="{{ metadata_styles }}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:white aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if user.hireable %}
      <span title="Hire me">Available for hire</span>
    {% endif %}
  </div>
</td>
{% endif %}
</tr>

<tr>
<td width="100%">
   {% include topics.html %}
</td>

</tr>
</table>
