{% if topic.web_url %}
  <a href="{{ topic.web_url }}">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="50" height="50" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <span
        style="width:50px; height:50px; line-height:64px;"
      >
        #
      </span>
    {% endif %}
    {{ topic.name }}
  </a>
{% else %}
  <div>
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="50" height="50" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <span
        style="width:50px; height:50px; line-height:64px;"
      >
        #
      </span>
    {% endif %}
    {{ topic.name }}
  </div>
{% endif %}
